<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/amire</property>
        <property name="hibernate.connection.username">amire</property>
        <property name="hibernate.connection.password">h1b3rn4t3</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>

        <mapping class="com.amire.entities.UserEntity"/>
    </session-factory>
</hibernate-configuration>